  div.welcome-message {   
	display: none;   
    position: fixed;
    top: 17%;
    left: 50%;    
    margin-left: -300px;
    width: 600px;    
    color: #333;
    border: 6px solid #ddd;
    padding: 10px;
	background: #fff url(ready.png) no-repeat 10px top;
	}
	
	div.welcome-message ul {
	list-style:none;
	padding:0;
	margin:0;
	}
	
	div.welcome-message ul li {
	list-style:none;
	list-style-type:none;
	padding:0;
	margin:0;		
	}
	
	div.welcome-message .welcome-content {
	margin: 0 0 0 140px;
	padding:0;
	width:auto;
	border:none;
	}
	
	div.welcome-message .welcome-content tr {
	padding:0;
	border:none;
	}
	
	div.welcome-message .welcome-content td {
	padding:0;
	border:none;
	font-size:1em;	
	}

	
	div.welcome-message h3 {
	font-size:1.6em;
color:#000;	
	}
		
	.jqmOverlay { background-color: #fff;}


* html .welcome-message {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

body.front .messages  {
margin:0 !important;
}

p.quick-start {

}

a.quick-start {

}