
/*#ajax_srarch_wrap { position: relative; width: 0px; display: inline; }*/
/*#ajax_srarch { background-color: #FFF; position: absolute; right: 0px; top: 20px; width: 600px; overflow: hidden; }*/
#ajax_search_result{ background-color: #FFF; padding: 10px; border: 1px solid #999; width: 600px; overflow: hidden; position: absolute; top: 253px; right: 56px; z-index: 9999; }
#ajax_search_result table{ width: 1%; }
#ajax_search_result table tbody{ border-top-style: none; }

#ajax_search_result h2 { font-size: 14px; font-weight: normal; color: #585858; width: 185px; margin: 0px 10px 5px 0px; padding: 2px 2px 5px 2px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCC; }
#ajax_search_result h2 i { font-weight: normal; font-style: normal; font-size: 11px; }

#ajax_search_result li, #ajax_search_result ul { background-image: none; margin: 0px; padding: 0px; list-style-image: none; list-style-type: none; }
#ajax_search_result li { width: 190px; overflow: hidden; }
#ajax_search_result a { font-size: 11px; font-weight: normal; color: #069; text-decoration: none; display: block; padding: 2px 2px 3px 2px; }
#ajax_search_result a:hover { text-decoration: underline; background-color: #EAF1F7; }
#ajax_search_result a i{ font-style: normal; color: #F63; }

.loading { background-image: url(indicator_blue_large.gif); background-repeat: no-repeat; background-position: center center;  padding-bottom: 50px; }



